/venv
*.pyc
__pycache__
*.egg-info
.DS_Store
g.db
g.db.blobs
.coverage
.pytest_cache
htmlcov
/tmp

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

editor/node_modules
editor/dist
editor/dist-ssr
editor/*.local

editor/.vscode/*
!editor/.vscode/extensions.json
editor/.idea

.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
